---
// ChangingBackground.astro
---

<div id="changing-background" class="w-full h-28 bg-cover bg-center md:hidden lg:hidden transition-all duration-1000 shadow-gray-200 shadow-lg ease-in-out"></div>

<script>
  const images = [
    'https://images.pexels.com/photos/3845761/pexels-photo-3845761.jpeg',
    'https://images.pexels.com/photos/3938022/pexels-photo-3938022.jpeg',
    'https://images.pexels.com/photos/4021775/pexels-photo-4021775.jpeg'
  ];
  let currentIndex = 0;

  function changeBackground() {
    const background = document.getElementById('changing-background');
    currentIndex = (currentIndex + 1) % images.length;
    background.style.backgroundImage = `url('${images[currentIndex]}')`;
  }

  // Cambiar imagen cada 5 segundos
  setInterval(changeBackground, 4000);

  // Establecer la primera imagen inmediatamente
  changeBackground();
</script>