---
// SeccionCursos.astro
---

<section class="py-16 bg-gradient-to-b from-pink-50 to-white">
    <div class=" mx-auto px-4">
      <h2 class="text-4xl font-bold text-center mb-12 text-pastel-peach-strong">Nuestros Cursos Exclusivos</h2>
      <div class="max-w-4xl mx-auto">
        <div class="overflow-hidden shadow-lg rounded-lg">
          <div class="relative h-64 sm:h-80">
            <img
              src="../../img/assets/Copia de DraJA-23.jpg"
              alt="Curso de Microblading"
              class="absolute inset-0 w-full h-5/6 p-2 mx-auto object-cover transition-transform duration-500 hover:scale-105"
            />
          </div>
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-pastel-peach-strong">Curso Intensivo</h3>
            <p class="text-gray-600">Domina el arte de microblading </p>
          </div>
          <div class="px-6 py-4">
            <p class="mb-4">
               Nuestro curso intensivo de microblading te dará las
              habilidades y la confianza para crear cejas impecables que transformarán la apariencia de tus clientes.
            </p>
            <ul class="list-disc list-inside mb-4 text-gray-700">
              <li>Técnicas avanzadas </li>
              <li>Prácticas </li>
              <li>Certificación reconocida</li>
              <li>Kit de inicio incluido</li>
            </ul>
            <div class="flex justify-center space-x-4 mb-4">
              <img src="../../img/assets/Copia de SESION_CURSO JESSICA-31.jpg" alt="Ejemplo 1" class="w-20 h-20 p-2 m-2 object-cover rounded-lg" />
              <img src="../../img/assets/Copia de SESION_CURSO JESSICA-31.jpg" alt="Ejemplo 2" class="w-20 h-20 p-2 m-2 object-cover rounded-lg" />
              <img src="../../img/assets/Copia de SESION_CURSO JESSICA-31.jpg" alt="Ejemplo 3" class="w-20 h-20 p-2 m-2 object-cover rounded-lg" />
            </div>
          </div>
          <div class="px-6 py-4 flex justify-between items-center bg-pink-50">
            <div>
              <p class="text-lg font-semibold text-pastel-peach-strong">Próxima fecha: 7 de Julio</p>
              <p class="text-sm text-gray-600">Cupos limitados - ¡Reserva ahora!</p>
            </div>
            <button class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
              Inscríbete Ahora
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>