---
// Footer.astro

---

<footer class="bg-white border-t border-gray-200">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
     
    <div class="mt-12 border-t border-gray-200 pt-8">
      <p class="text-base text-gray-400 xl:text-center">
        &copy; {new Date().getFullYear()}  Clínica Estética. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>