<section class="bg-white w-screen h-[27vh]">

    <h1 class="text-3xl max-w-lg text-Azul-Strong mx-auto items-center font-bold font-cursive mt-5 p-3 text-center">Cuidar de ti es la inversion mas importante que puedes hacer</h1>
</section>