

<section class="relative pt-24 md:pt-32 mx-auto max-w-screen-xl pb-12 px-4 items-center lg:flex md:px-8">
    <!-- Background image for mobile -->
    <div class="absolute inset-0 bg-cover bg-center bg-no-repeat lg:hidden" style="background-image: url('../../public/img/herosectionimg.jpg');"></div>
    
    <!-- Overlay for mobile -->
    <div class="absolute inset-0 bg-black opacity-50 lg:hidden"></div>
    
    <!-- Content -->
    <div class="space-y-4 flex-1 sm:text-center lg:text-left relative z-10">
        <h1 class="text-white lg:text-black font-bold text-4xl xl:text-5xl">
            One page Template for
            <span class="text-indigo-700">Digital agency</span>
        </h1>
        <p class="text-white lg:text-gray-600 max-w-xl leading-relaxed sm:mx-auto lg:ml-0">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        </p>
        <div class="pt-10 items-center justify-center space-y-3 sm:space-x-6 sm:space-y-0 sm:flex lg:justify-start">
            <a href="/" class="px-7 py-3 w-full bg-white text-gray-800 text-center rounded-md shadow-md block sm:w-auto">
                Get started
            </a>
            <a href="/" class="px-7 py-3 w-full bg-gray-700 text-gray-200 text-center rounded-md block sm:w-auto">
                Try it out
            </a>
        </div>
    </div>
    
    <!-- Image for desktop -->
    <div class="flex-1 text-center mt-7 lg:mt-0 lg:ml-3">
        <img src="../../public/img/herosectionimg.jpg" class="w-9/12 mx-auto overflow-auto mt-7 rounded-lg sm:w-10/12 lg:w-9/12 hidden lg:block" alt="Hero Image" />
    </div>
  </section>