<section id="background-section" class="relative bg-white w-full dark:text-gray-100 pt-16 md:pt-5 lg:pt-5 overflow-hidden">
  <div class="absolute inset-0 bg-black bg-opacity-50"></div> <!-- Overlay for brightness effect -->
  
  <div class="relative mt-32 z-10 flex justify-center items-center min-h-[75vh] p-3 sm:p-4">
    <div data-aos="zoom-in"
    data-aos-duration="1300"
    class="w-full max-w-sm md:max-w-md lg:max-w-lg relative">
      <div class="absolute inset-0 bg-black bg-opacity-45 rounded-lg backdrop-filter backdrop-blur-xs"></div>
      <div class="relative z-10 p-6 text-center">
        <div class="absolute top-0 left-1/2 transform -translate-x-1/2 w-20 h-20 bg-aztext-Azul-Nuevo rounded-full mix-blend-multiply filter blur-xl opacity-50 animate-blob"></div>
        
        <h1 class="text-xl md:text-2xl mb-3 text-white font-oswald font-bold leading-tight">
          CUIDAMOS TU 
          <span class="text-Azul-Nuevo">BELLEZA </span>
          DE FORMA <span class="text-Azul-Nuevo">SEGURA </span>
        </h1>
        <p class="mt-3 text-white text-sm md:text-sm lg:text-sm font-roboto mb-4">
          La ciencia detrás de una piel perfecta. Resultados visibles, cuidado excepcional!
          <span class="font-thin font-poppins mt-1 text-xs md:text-xs text-gray-300 block">Clínica de Medicina Estética.</span>
        </p>
        
        <div class="flex flex-col mt-4 space-y-3 items-center">
          <a rel="noopener noreferrer" href="#"
            class="border border-black shadow-sm shadow-White-Crest whitespace-nowrap w-full md:w-auto px-6 py-2 flex
             items-center justify-center space-x-2 text-center text-xs font-montserrat font-semibold text-black rounded-lg bg-White-Crest
              hover:bg-green-600 hover:text-slate-900 hover:shadow-md transition-shadow duration-500 ease-in-out">
            <span>Contacta ahora</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
            </svg>
          </a>
          
          <a rel="noopener noreferrer" href="#"
            class="whitespace-nowrap w-full md:w-auto px-6 py-2 text-center text-xs font-montserrat font-semibold border border-black shadow-sm shadow-Azul-Nuevo bg-Azul-Nuevo text-White-Crest rounded-lg hover:bg-blue-dark hover:text-White-Crest hover:shadow-lg transition-shadow duration-500 ease-in-out">
            Nuestros Servicios
          </a>
        </div>
        
        <div class="flex justify-center space-x-3 mt-4">
          <a href="#">
            <img src="../../facebook.svg" alt="Facebook" class="w-5 h-5 brightness-100 invert saturate-0">
          </a>
          <a href="#">
            <img src="../../instagram.svg" alt="Instagram" class="w-5 h-5 brightness-100 invert saturate-0">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const images = [
    '../../img/assets/7.webp',
    '../../img/assets/2.webp',
    '../../img/assets/9.webp'
  ];

  let currentIndex = 1; // Start with the second image

  function changeBackgroundImage() {
    const section = document.getElementById('background-section');
    section.style.backgroundImage = `url(${images[currentIndex]})`;
    currentIndex = (currentIndex + 1) % images.length;
  }

  // Set the initial background image to the second one
  changeBackgroundImage();

  // Change background every 7 seconds
  setInterval(changeBackgroundImage, 5700);
</script>

<style>
  #background-section {
    background-size: cover;
    background-position: center;
    transition: background-image 0.88s ease-in-out;
  }
</style>
