<section id="background-section" class="relative bg-white w-full dark:text-gray-100 pt-16 md:pt-5 lg:pt-5 overflow-hidden">
  
  
  
       
      
</section>

<script>
  const images = [
    '../../img/assets/7.webp',
    '../../img/assets/2.webp',
    '../../img/assets/9.webp'
  ];

  let currentIndex = 1; // Start with the second image

  function changeBackgroundImage() {
    const section = document.getElementById('background-section');
    section.style.backgroundImage = `url(${images[currentIndex]})`;
    currentIndex = (currentIndex + 1) % images.length;
  }

  // Set the initial background image to the second one
  changeBackgroundImage();

  // Change background every 7 seconds
  setInterval(changeBackgroundImage, 5700);
</script>

<style>
  #background-section {
    background-size: cover;
    background-position: center;
    transition: background-image 0.88s ease-in-out;
  }
</style>
