---



---


<!-- Sección principal del encabezado -->
<section class="relative pt-7 md:pt-3 lg:pt-2 bg-white overflow-hidden">
    <!-- Imagen del logo alineada para evitar que se superponga con el navbar -->
    <img src="../../img/assets/logo2nopng-Photoroom.webp"
         class="w-52 h-52 object-cover overflow-hidden mx-auto mt-7 p-2" alt="Logo"
         data-aos="fade-zoom-in"
        data-aos-duration="3000"
         >
    
    <!-- Eslogan principal de la sección -->
    <span
    data-aos="fade-zoom-down"
         data-aos-delay="400" 
    class="block -mt-3 text-3xl text-center font-dancing text-nude-primary">Es momento de cuidarte</span>
    
    <!-- Separador con línea y símbolo de más en el centro -->
    <div
    data-aos="fade-up"
     data-aos-duration="1500" 
    class="flex pr-5 pl-5 items-center justify-center my-4">
        <div class="border-t border-gray-300 flex-grow"></div>
        <div class="mx-4">
            <img src="../../img/skin.png"
                 class="w-10 h-10 overflow-hidden brightness-0 saturate-200 object-cover mx-auto" alt="Logo">
        </div>
        <div class="border-t border-gray-300 flex-grow"></div>
    </div>
    
    <!-- Sección central con títulos y descripción -->
    <div class="relative flex justify-center items-center p-4">
        <div class="w-full max-w-lg relative">
            <div 
            data-aos="fade-up"
            data-aos-duration="1000" 
             class="text-center">
                <!-- Título principal con ajustes de márgenes -->
                <h1 class="text-3xl lg:text-3xl md:text-2xl mb-3 text-black font-oswald font-bold leading-tight">
                    CUIDAMOS TU <span class="text-nude-primary">BELLEZA</span> DE FORMA <span class="text-nude-primary">SEGURA</span>
                </h1>
                
                <!-- Descripción debajo del título -->
                <p class="mt-5 max-w-80 text-center mx-auto text-black text-xs font-montserrat font-semibold">
                    La ciencia detrás de una piel perfecta. Resultados visibles, cuidado excepcional!
                    <span class="font-thin text-center font-poppins mt-3 text-md text-gray-600 block">Clínica de Medicina Estética.</span>
                </p>
                
                <!-- Botones de acción: Contacto y Servicios -->
                <div class="flex flex-col mt-6 space-y-2 mx-auto items-center">
                    <a href="https://wa.me/1234?text=Hola,%20quiero%20más%20información!" 
                    class="border bg-nude-primary border-black shadow-sm px-6 py-2 flex items-center justify-center text-xs font-montserrat hover:bg-nude-secondary font-semibold text-black rounded-lg bg-Whitehover:shadow-md transition-shadow duration-500 ease-in-out">
                        Contacta ahora
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 ml-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                        </svg>
                    </a>
                    <a href="#services" class="md:w-auto px-6 py-2 text-xs font-montserrat font-semibold border border-black shadow-sm text-nude-text rounded-lg hover:text-white hover:bg-black hover:shadow-lg transition-shadow duration-500 ease-in-out">
                        Nuestros Servicios
                    </a>
                </div>
                
                <!-- Íconos de redes sociales -->
                <div class="flex justify-center space-x-3 mt-4 mb-7">
                    <a href="https://www.facebook.com/drajessicaalcala"><img src="../../facebook.svg" alt="Facebook" class="brightness-0 w-5 h-5"></a>
                    <a href="https://www.instagram.com/dra_jessicaalcala/"><img src="../../instagram.svg" alt="Instagram" class="brightness-0 w-5 h-5"></a>
                </div>
            </div>
            
        </div>
    </div>
</section>
