<!-- 
<!-- navbar -->
 <!-- Banner Promocional -->

<div id="promo-banner" class="fixed top-0 inset-x-0 z-[60] bg-black text-white text-xs sm:text-sm text-center py-1 px-4 flex items-center justify-center space-x-2 shadow-md transition-transform duration-500">
	<span class="font-poppins text-[12px] md:text-[18px] leading-tight md:leading-none break-words max-w-[170px] sm:max-w-none text-left">
		칔nete al canal de promociones exclusivas 游댠
	  </span>
	<a 
  href="https://whatsapp.com/channel/0029VazoVTi72WU1KAYgS11F" 
  target="_blank" 
  rel="noopener noreferrer"
  class="inline-flex items-center bg-gray-100 hover:bg-white text-black font-roboto px-3 py-[5px] rounded-full text-[11px] md:text-[18px] transition"
  aria-label="Unirse al canal de promociones por WhatsApp"
>
  <svg xmlns="http://www.w3.org/2000/svg" class="w-[12px] h-[12px] mr-1" viewBox="0 0 24 24">
    <path fill="#25D366" d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.198.297-.767.967-.94 1.166-.173.198-.347.223-.644.075-1.758-.867-2.91-3.084-3.003-3.233-.099-.148-.022-.342.075-.49.075-.099.173-.248.272-.372.099-.124.124-.223.198-.372.075-.149.037-.275-.012-.373-.05-.099-.669-1.611-.916-2.202-.242-.581-.487-.5-.67-.51l-.57-.01c-.198 0-.52.075-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.077 4.487.709.306 1.263.489 1.694.623.712.227 1.36.195 1.872.118.571-.085 1.758-.718 2.006-1.412.248-.694.248-1.29.173-1.412-.074-.123-.272-.198-.57-.347z"/>
    <path fill="#25D366" d="M12.004 2C6.475 2 2 6.475 2 12.004c0 2.114.554 4.156 1.602 5.965L2 22l4.13-1.595a10.001 10.001 0 0 0 5.874 1.867c5.529 0 10.004-4.475 10.004-10.004S17.533 2 12.004 2zm0 18.4a8.361 8.361 0 0 1-4.254-1.179l-.305-.183-2.448.944.519-2.516-.166-.26A8.34 8.34 0 0 1 3.6 12.004c0-4.64 3.763-8.404 8.404-8.404s8.404 3.763 8.404 8.404c0 4.64-3.763 8.396-8.404 8.396z"/>
  </svg>
칔nirse
</a>


  </div>
  
  
  <nav id="main-navbar" class="fixed top-[32px] inset-x-0 bg-white py-3 border-b shadow-md border-gray-200 z-40 transition-all duration-700">


	<div class="w-full mx-auto px-4 sm:px-6 lg:px-8">
	  <div class="flex justify-between h-14 relative">
		<div class="flex-shrink-0 flex items-center">
		  <a href="#home" class="flex items-center" aria-label="Volver a la p치gina de inicio">
			<img src="../../img/assets/logonuevo.webp" class="w-28 h-28 mt-2 overflow-hidden" alt="">
		  </a>
		</div>
		<!-- Menu tradicional visible solo en lg o mayor -->
		<div class="hidden lg:ml-6 lg:flex lg:space-x-5">
		  <a href="#cursos" class="text-nude-text font-neoteric relative inline-flex items-center px-1 pt-1 text-sm group">
			Cursos
			<span class="absolute  bottom-0 left-0 w-0 h-1 bg-nude-primary transition-all duration-300 ease-in-out group-hover:w-full"></span>
		  </a>
		  <a href="#about-us" class="text-nude-text font-neoteric relative inline-flex items-center px-1 pt-1 text-sm group">
			Sobre Nosotros
			<span class="absolute  bottom-0 left-0 w-0 h-1 bg-nude-primary transition-all duration-300 ease-in-out group-hover:w-full"></span>
		  </a>
		  <a href="#servicios" class="text-nude-text font-neoteric relative inline-flex items-center px-1 pt-1 text-sm group">
			Servicios
			<span class="absolute  bottom-0 left-0 w-0 h-1 bg-nude-primary transition-all duration-300 ease-in-out group-hover:w-full"></span>
		  </a>
		  <a href="#contacto" class="text-nude-text font-neoteric relative inline-flex items-center px-1 pt-1 text-sm  group">
			Contacto
			<span class="absolute  bottom-0 left-0 w-0 h-1 bg-nude-primary transition-all duration-300 ease-in-out group-hover:w-full"></span>
		  </a>
		</div>
		<!-- Bot칩n de men칰 m칩vil, visible hasta md -->
		<div class="-mr-2 flex items-center lg:hidden">
		  <button type="button" class="inline-flex items-center justify-center p-1 rounded-md text-gray-400 hover:text-nude-text hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-blue-500" aria-controls="mobile-menu" aria-expanded="false" id="mobile-menu-button">
			<span class="sr-only">Abrir men칰 principal</span>
			<svg class="block h-6 w-6 transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
			</svg>
		  </button>
		</div>
	  </div>
	</div>
  </nav>
  
  
  <!-- Men칰 m칩vil, visible hasta md -->
  <!-- Men칰 m칩vil, visible hasta md -->
<div class="lg:hidden fixed inset-x-0 top-[88px] z-40 hidden transition-all duration-300" id="mobile-menu">
	<div class="glassmorphism pt-4 pb-4 px-4 space-y-2">
	  <a href="#home" class="block text-base font-neoteric font-bold text-nude-text hover:bg-white/30 transition-all duration-300 px-4 py-2 rounded">Inicio</a>
	  <a href="#cursos" class="block text-base font-neoteric font-bold text-nude-text hover:bg-white/30 transition-all duration-300 px-4 py-2 rounded">Curso</a>
	  <a href="#about-us" class="block text-base font-neoteric font-bold text-nude-text hover:bg-white/30 transition-all duration-300 px-4 py-2 rounded">Quienes somos</a>
	  <a href="#servicios" class="block text-base font-neoteric font-bold text-nude-text hover:bg-white/30 transition-all duration-300 px-4 py-2 rounded">Servicios</a>
	  <a href="#contacto" class="block text-base font-neoteric font-bold text-nude-text hover:bg-white/30 transition-all duration-300 px-4 py-2 rounded">Contacto</a>
	</div>
  </div>
  
  <style>
	@import url('https://fonts.googleapis.com/css2?family=neufont-neoteric:wght@300;400;500&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
  
	body {
	  font-family: 'neufont-neoteric', sans-serif;
	}
  
	.font-poppins {
	  font-family: 'Poppins', sans-serif;
	}
  
	.glassmorphism {
	  background: rgba(255, 255, 255, 0.2);
	  backdrop-filter: blur(10px);
	  -webkit-backdrop-filter: blur(10px);
	  border-radius: 0 0 10px 10px;
	  border: 1px solid rgba(255, 255, 255, 0.18);
	  box-shadow: 0 8px 32px 0 rgba(159, 163, 232, 0.37);
	  transition: all 0.3s ease-in-out;
	  opacity: 0;
	  transform: translateY(-20px);
	}
  
	#mobile-menu.show .glassmorphism {
	  opacity: 1;
	  transform: translateY(0);
	}
  </style>
  
  <script>
	const mobileMenuButton = document.getElementById('mobile-menu-button');
	const mobileMenu = document.getElementById('mobile-menu');
	const menuIcon = mobileMenuButton.querySelector('svg');
	const banner = document.getElementById("promo-banner");
	const navbar = document.getElementById("main-navbar");
  
	function updateMobileMenuTop() {
	  const isBannerHidden = banner.classList.contains("translate-y-[-100%]");
	  mobileMenu.style.top = isBannerHidden ? "56px" : "88px"; // 56 si no hay banner, 88 si s칤
	}
  
	mobileMenuButton.addEventListener('click', () => {
	  mobileMenu.classList.toggle('hidden');
	  mobileMenu.classList.toggle('show');
	  updateMobileMenuTop();
	  menuIcon.classList.toggle('rotate-90');
	});
  
	window.addEventListener("scroll", () => {
	  const shouldHideBanner = window.scrollY > 340;
  
	  banner.classList.toggle("translate-y-[-100%]", shouldHideBanner);
	  navbar.classList.toggle("top-[32px]", !shouldHideBanner);
	  navbar.classList.toggle("top-0", shouldHideBanner);
  
	  updateMobileMenuTop(); // <-- tambi칠n actualiza el men칰 al hacer scroll
	});
  </script>
  

<script>
	const banner = document.getElementById("promo-banner");
	const navbar = document.getElementById("main-navbar");
  
	window.addEventListener("scroll", () => {
	  const shouldHideBanner = window.scrollY > 340;
  
	  // Oculta el banner con transici칩n
	  banner.classList.toggle("translate-y-[-100%]", shouldHideBanner);
  
	  // Ajusta el navbar arriba si el banner ya no est치
	  navbar.classList.toggle("top-[32px]", !shouldHideBanner);
	  navbar.classList.toggle("top-0", shouldHideBanner);
	});
  </script>
   -->