<nav class="fixed top-0 inset-x-0 bg-white py-1 border-b shadow-md border-gray-200 z-50">
	<div class="w-full mx-auto px-4 sm:px-6 lg:px-8">
	  <div class="flex justify-between h-14 relative">
		<div class="flex-shrink-0 flex items-center">
		  <a href="/" class="flex items-center">
			<img src="../../img/assets/logonuevo.webp" class="w-28 h-28 overflow-hidden" alt="">
		  </a>
		</div>
		<!-- Menu tradicional visible solo en lg o mayor -->
		<div class="hidden lg:ml-6 lg:flex lg:space-x-5">
		  <a href="#cursos" class="text-nude-text font-neoteric relative inline-flex items-center px-1 pt-1 text-sm  group">
			Cursos
			<span class="absolute font-poppins bottom-0 left-0 w-0 h-1 bg-nude-primary transition-all duration-300 ease-in-out group-hover:w-full"></span>
		  </a>
		  <a href="#about-us" class="text-nude-text font-neoteric relative inline-flex items-center px-1 pt-1 text-sm group">
			Sobre Nosotros
			<span class="absolute font-poppins bottom-0 left-0 w-0 h-1 bg-nude-primary transition-all duration-300 ease-in-out group-hover:w-full"></span>
		  </a>
		  <a href="#servicios" class="text-nude-text font-neoteric relative inline-flex items-center px-1 pt-1 text-sm group">
			Servicios
			<span class="absolute font-poppins bottom-0 left-0 w-0 h-1 bg-nude-primary transition-all duration-300 ease-in-out group-hover:w-full"></span>
		  </a>
		  <a href="#contacto" class="text-nude-text font-neoteric relative inline-flex items-center px-1 pt-1 text-sm  group">
			Contacto
			<span class="absolute font-poppins bottom-0 left-0 w-0 h-1 bg-nude-primary transition-all duration-300 ease-in-out group-hover:w-full"></span>
		  </a>
		</div>
		<!-- Botón de menú móvil, visible hasta md -->
		<div class="-mr-2 flex items-center lg:hidden">
		  <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-nude-text hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500" aria-controls="mobile-menu" aria-expanded="false" id="mobile-menu-button">
			<span class="sr-only">Abrir menú principal</span>
			<svg class="block h-6 w-6 transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
			</svg>
		  </button>
		</div>
	  </div>
	</div>
  </nav>
  
  <!-- Menú móvil, visible hasta md -->
  <div class="lg:hidden fixed inset-x-0 top-14 z-40 hidden" id="mobile-menu">
	<div class="glassmorphism pt-2 pb-3 space-y-1">
	  <a href="/" class="block px-4 py-2 text-base font-neoteric text-nude-text hover:bg-white/30 transition-all duration-300">Inicio</a>
	  <a href="#cursos" class="block px-4 py-2 text-base font-neoteric text-nude-text hover:bg-white/30 transition-all duration-300">Curso</a>
	  <a href="#about-us" class="block px-4 py-2 text-base font-neoteric text-nude-text hover:bg-white/30 transition-all duration-300">Quienes somos</a>
	  <a href="#servicios" class="block px-4 py-2 text-base font-neoteric text-nude-text hover:bg-white/30 transition-all duration-300">Servicios</a>
	  <a href="#contacto" class="block px-4 py-2 text-base font-neoteric text-nude-text hover:bg-white/30 transition-all duration-300">Contacto</a>
	</div>
  </div>
  
  <style>
	@import url('https://fonts.googleapis.com/css2?family=neufont-neoteric:wght@300;400;500&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
  
	body {
	  font-family: 'neufont-neoteric', sans-serif;
	}
  
	.font-poppins {
	  font-family: 'Poppins', sans-serif;
	}
  
	.glassmorphism {
	  background: rgba(255, 255, 255, 0.2);
	  backdrop-filter: blur(10px);
	  -webkit-backdrop-filter: blur(10px);
	  border-radius: 0 0 10px 10px;
	  border: 1px solid rgba(255, 255, 255, 0.18);
	  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	  transition: all 0.3s ease-in-out;
	  opacity: 0;
	  transform: translateY(-20px);
	}
  
	#mobile-menu.show .glassmorphism {
	  opacity: 1;
	  transform: translateY(0);
	}
  </style>
  
  <script>
	const mobileMenuButton = document.getElementById('mobile-menu-button');
	const mobileMenu = document.getElementById('mobile-menu');
	const menuIcon = mobileMenuButton.querySelector('svg');
  
	mobileMenuButton.addEventListener('click', () => {
	  mobileMenu.classList.toggle('hidden');
	  mobileMenu.classList.toggle('show');
	  
	  const expanded = mobileMenuButton.getAttribute('aria-expanded') === 'true';
	  mobileMenuButton.setAttribute('aria-expanded', (!expanded).toString());
  
	  // Animate menu icon
	  menuIcon.classList.toggle('rotate-90');
	});
  </script>