---
// TestimonialCarousel.astro
const testimonials = [
  {
    name: "Lu Rodriguez",
    content: "Recomiendo mucho la clínica, todas las chicas súper atentas y te hacen sentir segura en todos los procedimientos!",
    image: "../../img/assets/testimonio7.webp"
  },
  {
    name: "Miriam",
    content: "Recomiendo los servicios de la clínica, me he realizado hidrofaciales y estoy muy contenta con los resultados",
    image: "../../img/assets/testimonio2.webp"
  },
  {
    name: "Caro",
    content: "Súper contenta con mi procedimiento y todo el trato excelente.",
    image: "../../img/assets/testimonio3.webp"
  },
  {
    name: "Itayetzi",
    content: "El lugar es muy ameno y limpio, la atención muy buena te explican todo",
    image: "../../img/assets/testimonio4.webp"
  },
  {
    name: "K. Palacios",
    content: "La atención fue súper profesional, respondieron todas mis dudas sobre los procedimientos, excelente la atención de todo el equipo!",
    image: "../../img/assets/testimonio5.webp"
  },
  {
    name: "Leslie Talia",
    content: "Excelente servicio y atención, cuidan cada detalle de principio a fin 100% recomendable!",
    image: "../../img/assets/testimonio6.webp"
  },
  {
    name: "Azul G",
    content: "Excelente servicio, voy fascinada",
    image: "../../img/assets/testimonio1.webp"
  },
];
---

<section class="py-16 bg-nude-bg overflow-hidden">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-neoteric text-center mb-12 text-nude-text">Tu opinión es importante</h2>
    <div class="relative">
      <div class="carousel flex space-x-6 animate-scroll">
        {testimonials.map((testimonial) => (
          <div class="testimonial-card flex-shrink-0 w-72 p-7 rounded-xl shadow-md backdrop-filter backdrop-blur-lg bg-white bg-opacity-30 hover:shadow-lg transition-shadow duration-300">
            <div class="flex items-center mb-4">
              <img
                src={testimonial.image}
                alt={`Foto de ${testimonial.name}`}
                class="w-10 h-10 rounded-full object-cover mr-4 border-2 border-nude-text"
              />
              <p class="font-neoteric text-base text-nude-text">{testimonial.name}</p>
            </div>
            <blockquote class="text-nude-text text-xs font-poppins leading-relaxed italic relative">
              <span class="absolute top-0 left-0 text-4xl text-nude-text font-poppins">"</span>
              <p class="pl-6 pr-4 text-balance">{testimonial.content}</p>
              <span class="absolute bottom-0 right-0 text-4xl text-nude-text font-poppins">"</span>
            </blockquote>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

<style>
  .container {
    max-width: 1200px;
  }
  
  .carousel {
    width: fit-content;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-352px * 7));
    }
  }

  .animate-scroll {
    animation: scroll 60s linear infinite;
  }

  .testimonial-card {
    position: relative;
    overflow: hidden;
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const carousel = document.querySelector('.carousel');
    if (carousel) {
      carousel.addEventListener('mouseenter', () => {
        carousel.classList.remove('animate-scroll');
      });

      carousel.addEventListener('mouseleave', () => {
        carousel.classList.add('animate-scroll');
      });
    }
  });
</script>
