---
// TestimonialCarousel.astro
const testimonials = [
  {
    name: "Lu Rodriguez",
    content: "Recomiendo mucho la clínica, todas las chicas súper atentas y te hacen sentir segura en todos los procedimientos!",
    image: "../../img/assets/testimonio7.webp"
  },
  {
    name: "Miriam",
    content: "Recomiendo los servicios de la clínica, me he realizado hidrofaciales y estoy muy contenta con los resultados",
    image: "../../img/assets/testimonio2.webp"
  },
  {
    name: "Caro",
    content: "Súper contenta con mi procedimiento y todo el trato excelente.",
    image: "../../img/assets/testimonio3.webp"
  },
  {
    name: "Arcos Yese",
    content: "Super recomendado, atención de 10 por parte de todo el equipo. 😊",
    image: "../../img/assets/testimonio4.webp"
  },
  {
    name: "K. Palacios",
    content: "La atención fue súper profesional, respondieron todas mis dudas sobre los procedimientos, excelente la atención de todo el equipo!",
    image: "../../img/assets/testimonio5.webp"
  },
  {
    name: "Leslie Talia",
    content: "Excelente servicio y atención, cuidan cada detalle de principio a fin 100% recomendable!",
    image: "../../img/assets/testimonio6.webp"
  },
  {
    name: "Azul G",
    content: "Excelente servicio, voy fascinada",
    image: "../../img/assets/testimonio1.webp"
  },
];
---

<section class="py-20 bg-nude-bg">
  <div class="max-w-7xl mx-auto px-4">
    <h2 class="text-4xl font-neoteric text-center mb-10 text-nude-text">Tu opinión es importante</h2>

    <div class="overflow-hidden">
      <div class="flex space-x-6 animate-scroll group w-max">
        {[...testimonials, ...testimonials].map((testimonial, index) => (
          <div 
            class="flex-shrink-0 w-72 sm:w-80 bg-white/30 backdrop-blur-xl border border-white/40 rounded-xl p-5 shadow-md transition-transform duration-300 hover:scale-105"
            style="min-height: 210px"
            
          >
            <div class="flex items-center gap-4 mb-4">
              <img src={testimonial.image} alt={`Foto de ${testimonial.name}`} class="w-10 h-10 rounded-full object-cover border border-nude-text" />
              <p class="font-neoteric text-nude-text text-sm sm:text-base">{testimonial.name}</p>
            </div>
            <p class="text-nude-text font-poppins text-xs sm:text-sm italic leading-relaxed">
              “{testimonial.content}”
            </p>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll-left 60s linear infinite;
  }

  .group:hover .animate-scroll {
    animation-play-state: paused;
  }
</style>
