---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const { title, description = "Clínica de Medicina estética en Cuernavaca, Morelos." } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href="../../img/assets/logoclinica.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator || "Astro"} />
    <title>{title ? `${title} | Clínica Medicina Estética Cuernavaca` : 'Clínica Medicina Estética Cuernavaca'}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content="medicina estética cuernavaca, depilacion laser, jessica alcala, botox, derpamen, limpieza facial, tratamientos estéticos, ácido hialurónico" />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title || 'Clínica Medicina Estética Cuernavaca'} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url || 'https://www.drajessicaalcala.com'} />
    <meta property="og:image" content="https://www.drajessicaalcala.com/img/assets/logonuevo.webp" />


    <link rel="canonical" href={Astro.url || 'https://www.drajessicaalcala.com'} />

    <!-- Preload Google Fonts for performance -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&family=Poppins:wght@400;700&family=Cinzel:wght@400;700&family=Open+Sans:wght@400;700&display=swap" as="style" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&family=Poppins:wght@400;700&family=Cinzel:wght@400;700&family=Open+Sans:wght@400;700&display=swap" />

    <!-- Google Analytics -->
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-X8T61SMRZ2"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-X8T61SMRZ2');
</script>
    
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Collection';
    src: url('../fonts/Collection.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Neoteric';
    src: url('../fonts/NeotericRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Neoteric';
    src: url('../fonts/NeotericBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
</style>
